<%- include('../_parts/_header'); %>

<div class="container">

    <form action="/delete" method="post">
        <input type="text" name="email" value="@gmail.com">
        <input type="submit">
    </form>

</div>

<%- include('../_parts/_footer'); %>
