<%- include('../_parts/_header') -%>

<div>

    <form method="POST" action="/goto">
        <input type="text"  name="name" value="bhyean">
        <br>
        <input type="text"  name="mobile" value="01920599266">
        <br>
        <input type="text"  name="faculty" value="CSE">
        <br>
        <input type="text"  name="session" value="2018-19">
        <br>
        <input type="text"  name="blood" value="O+">
        <br>
        <input type="email"  name="email" value="bhyean@gmail.com">
        <br>
        <input type="password"  name="password" value="1234">
        <br>
        <input type="submit">
    </form>

</div>

<%- include('../_parts/_footer') -%>